*{
    margin: 0px;
    padding: 0px;
}
.container h1{
    font-size: 28px;
}
.list{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 1294.25px;
    height: 682px;
    margin: auto;
    margin-left: 50px;
    padding-bottom: 5px;
}
.list-item{
    position: relative;
}
.img{
    width: 40%;
    height: 40%;
    margin-left: 25%;
}
.price{
    font-size: 16px;
    line-height: 124%;
    margin-left: 8.5px;
    margin-top: 19.5px;
    font-family: sans-serif;
}
.title{
    width: 150px;
    height: 35px;
    font-size: 12px;
    line-height: 124%;
    margin-left: 8.5px;
    margin-top: 11px;
}
.rating{
    display: flex;
    margin-left: 8.5px;
    margin-top: 11.75px;
    font-family: sans-serif;
    display: none;
}
.rate i{
    color: blue;
}
.count{
    margin-left: 10px;
}
.cont{
    width: 180px;
    height: 270px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.20);
    background: #fff;
    border-radius: 10px;
    position: absolute;
}
.cont:hover{
    border-image-source: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    border-image-slice: 1;
    border-style: solid;
    transition: 100ms;
    z-index: 1;
}
.btn{
    width: 85%;
    height: 34px;
    display: inline;
    margin-left: 15px;
    color: black;
    border: none;
    border-image-source: linear-gradient(96.78deg, #F64D4D -57.09%, #4D5EF6 101.17%);
    border-image-slice: 1;
    border-style: solid;
}
.btn:hover{
    background: linear-gradient(96.78deg, #F64d4d -57.06%, #4d5ef6 101.17%);
    color: #fff;
    transition: 500ms;
}
.rating{
    display: flex;
    margin-left: 8.5px;
    margin-top: 11.75px;
    font-family: sans-serif;
}