* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #282a35;
}
body button {
  border: 1px solid #d4d1d3;
}
body button:hover {
  cursor: pointer;
}
body button:focus {
  outline: 2px solid #04aa6d;
}
body button:active {
  opacity: 0.8;
}
body #root {
  width: 338px;
  height: 408.9px;
  background-color: #fff;
  border-radius: 8px;
  padding: 3rem 3.5rem 5rem;
  margin: auto;
}
body #root h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
body #root .login_text {
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2rem;
  text-align: right;
}
body #root .login_text span {
  color: #34a853;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body #root .login_container {
  margin-top: 2rem;
}
body #root .login_container .login_buttons {
  display: grid;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
body #root .login_container .login_buttons button {
  border: 1px solid #d4d1d3;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 40px;
  background-color: #fff;
}
body #root .login_container .login_buttons button .provider_text {
  align-items: center;
  display: flex;
  font-family: Source Sans Pro;
  font-weight: 600;
  height: 100%;
  padding-left: 15px;
  text-align: start;
}
body #root .login_container .login_buttons button .provider_logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
body #root .login_container p {
  margin-top: 1rem;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}
body #root .content {
  grid-area: content;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
body #root .content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #root .content form .inputs {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
}
body #root .content form .inputs input {
  font-family: Source Sans Pro;
  font-size: 14px;
  border: 1px solid #d4d1d3;
  border-radius: 7px;
  height: 40px;
  padding: 0 10px;
}
body #root .content form .inputs input[type=checkbox] {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 2px;
  bottom: 10px;
}
body #root .content form .inputs input[type=checkbox]:focus {
  outline: none;
}
body #root .content form .inputs input[type=checkbox]:hover {
  cursor: pointer;
}
body #root .content form .inputs input:focus {
  outline: 2px solid #04aa6d;
}
body #root .content form .buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 20px;
}
body #root .content form .buttons button {
  width: 167px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 7px;
  font-weight: 600;
  background-color: #fff;
}
body #root .content form .buttons .primary {
  background-color: #04aa6d;
  color: #fff;
}

@media screen and (max-width: 942px) {
  body #root {
    padding: 2rem 1rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    overflow-x: hidden;
  }
  body #root {
    border-radius: 0;
    width: 91%;
    height: 100%;
  }
  body #root .content form .inputs input[type=checkbox] {
    right: 5px;
    bottom: 13.5px;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */