* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  cursor: var(--cursorDefault);
}

body {
  background-color: #282a35;
}
body button {
  border: 1px solid #d4d1d3;
}
body button:hover {
  cursor: var(--cursorPointer);
}
body button:focus {
  outline: 2px solid #04aa6d;
}
body button:active {
  opacity: 0.8;
}
body a {
  text-decoration: none;
  cursor: var(--cursorPointer);
}
body input {
  border-radius: 7.5px;
}
body input:hover {
  cursor: var(--cursorText);
}
body #root {
  width: 1336px;
  margin: 0 auto;
}
body #root .ws-green {
  background-color: #04aa6d;
  color: var(--grayscale-gs-white);
}
body #root .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 88.5px;
  margin: auto;
  margin-bottom: 10px;
}
body #root .header .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 500px;
  max-width: 1440px;
  height: 56px;
  background-color: var(--grayscale-gs-white);
  position: fixed;
  top: 0;
  z-index: 999;
}
body #root .header .nav-top .logo {
  width: 150px;
  height: 56px;
  text-align: center;
}
body #root .header .nav-top .logo a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 40px;
}
body #root .header .nav-top .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 25%;
  height: 100%;
  text-align: center;
}
body #root .header .nav-top .bar-item {
  display: block;
  width: 100%;
  padding: 19px;
  background-color: white;
  color: black;
}
body #root .header .nav-top .bar-item:hover {
  background-color: #04AA6D !important;
  color: white !important;
}
body #root .header .nav-top .search {
  width: 11.004%;
  height: 16px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  border-radius: 25px;
  transition: box-shadow 0.25s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
body #root .header .nav-top .search:focus-within {
  outline: #04aa6d solid 3px;
}
body #root .header .nav-top .search:hover {
  cursor: var(--cursorText);
}
body #root .header .nav-top .search input {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  color: #333333;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
  padding: 5px 15px;
  width: 100%;
}
body #root .header .nav-top .search input::-moz-placeholder {
  font-style: italic;
}
body #root .header .nav-top .search input::placeholder {
  font-style: italic;
}
body #root .header .nav-top .signButtons {
  margin-right: 20px;
}
body #root .header .nav-top .signButtons button {
  position: relative;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
}
body #root .header .nav-top .signButtons .signUp {
  width: 93px;
  z-index: 1;
}
body #root .header .nav-top .signButtons .signUp:hover {
  background-color: #059862 !important;
  color: var(--grayscale-gs-white) !important;
}
body #root .header .nav-top .signButtons .login {
  width: 112px;
  text-align: right;
  padding-right: 23px;
  margin-left: -40px;
  background-color: #D9EEE1 !important;
  z-index: 0;
}
body #root .header .nav-top .signButtons .login:hover {
  background-color: #059862 !important;
  color: var(--grayscale-gs-white) !important;
}
body #root .main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  padding-bottom: 20px;
}
body #root .main img {
  width: 200px;
  height: 300px;
}
body .sign {
  width: 338px;
  background-color: var(--grayscale-gs-white);
  border-radius: 8px;
  padding: 3rem 3.5rem 5rem;
  margin: auto;
  position: relative;
  transform: translate(0%, -15%);
  z-index: 1000;
}
body .sign .close {
  position: absolute;
  translate: 340px -20px;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  background: none;
  border: none;
}
body .sign h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
body .sign .login_text {
  font-family: Source Sans Pro;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2rem;
  text-align: right;
}
body .sign .login_text button {
  color: #34a853;
  cursor: var(--cursorPointer);
  background: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 15px;
  font-weight: 600;
}
body .sign .login_container {
  margin-top: 2rem;
}
body .sign .login_container .login_buttons {
  display: grid;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
body .sign .login_container .login_buttons button {
  border: 1px solid #d4d1d3;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 40px;
  background-color: var(--grayscale-gs-white);
}
body .sign .login_container .login_buttons button .provider_text {
  align-items: center;
  display: flex;
  font-family: Source Sans Pro;
  font-weight: 600;
  height: 100%;
  padding-left: 15px;
  text-align: start;
}
body .sign .login_container .login_buttons button .provider_logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
body .sign .login_container p {
  margin-top: 1rem;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}
body .sign .content {
  grid-area: content;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
body .sign .content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .sign .content form .inputs {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
}
body .sign .content form .inputs input {
  font-family: Source Sans Pro;
  font-size: 14px;
  border: 1px solid #d4d1d3;
  height: 40px;
  padding: 0 10px;
}
body .sign .content form .inputs input[type=checkbox] {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 62px;
  right: 2px;
}
body .sign .content form .inputs input[type=checkbox]:focus {
  outline: none;
}
body .sign .content form .inputs input[type=checkbox]:hover {
  cursor: var(--cursorPointer);
}
body .sign .content form .inputs input:focus {
  outline: 2px solid #04aa6d;
}
body .sign .content form .buttons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 20px;
}
body .sign .content form .buttons a {
  display: contents;
}
body .sign .content form .buttons a button {
  width: 167px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 7px;
  font-weight: 600;
  background-color: var(--grayscale-gs-white);
}
body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1250px) {
  body #root .header .nav-top {
    left: 0;
  }
}
@media screen and (max-width: 1000px) {
  body {
    zoom: 85%;
  }
}
@media screen and (max-width: 800px) {
  body {
    zoom: 70%;
  }
}
@media screen and (max-width: 650px) {
  body {
    zoom: 50%;
  }
}
@media screen and (max-width: 500px) {
  body {
    zoom: 35%;
  }
}
@media screen and (max-width: 300px) {
  body {
    zoom: 25%;
  }
}/*# sourceMappingURL=App.css.map */