:root {
    --cursorDefault: url(https://i.ibb.co/8zq5jLJ/image.png), default;
    --cursorPointer: url(https://i.ibb.co/WDVDck5/pointer.png), pointer;
    --cursorGrab: url(https://i.ibb.co/1bHt1pn/grab.png), grab;
    --cursorGrabbed: url(https://i.ibb.co/YkMhF6h/grabbing.png), grabbing;
    --cursorText: url(https://i.ibb.co/NTLccyn/text.png), text;
}